*{
    font-family: 'Poppins', sans-serif;
}
.hero-section{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 115px;
    background: radial-gradient(105.14% 269.33% at 0% 1.94%, #F4A4A0 0%, #F05C9A 16.52%, #7760F9 46.11%, #5144E6 78.49%, #4836AD 100%);
    border-radius: 16px;
    background-blend-mode: pass-through;
    z-index: 20;
    padding: 31px;
}
.hero-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-blend-mode: pass-through;
}
.hero-div{

}
.heading-top{

}
.heading{

}
.heading-desc{

}
.hero-btn{

}