.quarter-two{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin: 40px 0px 20px 0px;
}
.calender{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}