.recents{
    height: 588px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recents-container{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.recnts-heading{
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    color: #1303B8;
    margin: 0px;
    margin-bottom: 34px;
}
.rcents-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-card{
    width: 324px;
    height: 319px;
    background: rgba(19, 3, 184, 0.06);
    border: 2px solid rgba(19, 3, 184, 0.12);
    box-sizing: border-box;
    box-shadow: 4px 4px 28px rgba(19, 3, 184, 0.12);
    backdrop-filter: blur(40px);
    border-radius: 14px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading-container{
    display: flex;
    justify-content: start;
}
.card-heading{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #3B1D60;
    margin: 0px;
}
.report-list{

}
.row-list{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.rslt-mth{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #1303B8;
    width: 66px;
    height: 36px;
    background-color: #FFFFFF;
    border: 1px solid rgba(19, 3, 184, 0.3);
    box-sizing: border-box;
    border-radius: 6px;
    list-style: none;
    margin: 0px 10px 17px 0px;
    padding: 6px 17px;
    opacity: 0.5;
}
.actv-rslt-mth{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 66px;
    height: 36px;
    color: #FFFFFF;
    background-color:#1303B8;
    border: 1px solid rgba(19, 3, 184, 0.3);
    box-sizing: border-box;
    border-radius: 6px;
    list-style: none;
    margin: 0px 10px 17px 0px;
    padding: 6px 17px;
}
.actv-shadow{
    box-shadow: 50px 0px#1203b860;    
}
.btn-container{
    display: flex;
    justify-content: end;
    align-items: baseline;
}
.see-results-btn{
    width: 160px;
    height: 41px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #3B1D60;
}